
.title{
    font-size: 30px;
    text-align: center;
    width: 100%;
    height: 121px;
    background-color: #202020;
    overflow-x: hidden;
    z-index: 999;
    top: 0;
    right: 0;
    position: fixed;
    font-family: 'Bungee Shade', cursive;
    
}
.title a{
    display: inline-block;
    padding-top: 0px;
    padding-left: 15px;
    z-index: 999;
    color: white;
    font-family: 'Bungee Shade', cursive;
    font-size: 90px;
}
.title #menuButton{
    /*display: inline-block;*/
    padding-top: 50px;
    padding-right: 15px;
    color: white; 
    position: absolute;
    top: 0px;
    right: 0px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #202020;
    overflow-x: hidden;
    margin-top: 80px;
    transition: 0.5s;
    padding-top: 60px;

  }
  .sidenav h1 {
    padding: 0px 8px 8px 32px;
    text-decoration: none;
    font-family: menu1;
    font-size: 35px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
  }
  .sidenav form{
    width: 200px;
    height: 65px;
  }
    .sidenav input[type='file'] {
   	width: 200px;
   	height: 39px;
   	opacity: 0;
   	overflow: hidden;
   	position: absolute;
   }
   .sidenav input[type='file'] + label {
     background:none!important;
     color:inherit;
     border:none;
     cursor: pointer;
     padding: 8px 8px 8px 32px;
     text-decoration: none;
     font-family: menu1;
     font-size: 20px;
     color: #d4cdcdef;
     display: block;
     transition: 0.3s;
     font-family: Arial, Helvetica, sans-serif;
   }

   .sidenav input[type='file']:focus + label,
    input[type='file'] + label:hover,
    input[type='file'] + label.offcanvas {
     background-color: #f7f1f1;
     cursor: pointer;
     z-index: 1;
   }
   .sidenav input[type='file'] + label {
   	cursor: pointer;
   }
  .sidenav button {
     background:none!important;
     color:inherit;
     border:none;
     cursor: pointer;
     padding: 8px 8px 8px 32px;
     text-decoration: none;
     font-family: menu1;
     font-size: 20px;
     color: #ffffffef;
     display: block;
     transition: 0.3s;
     font-family: Arial, Helvetica, sans-serif;
    }
    .sidenav button:hover, .offcanvas button:focus{
      color: rgb(255, 255, 255);
      background-color: #202020;
      cursor: pointer;
    }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: menu1;
    font-size: 20px;
    color: #d4cdcdef;
    display: block;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 550px;
  }
  .sidenav a:hover, .offcanvas a:focus{
    color: rgb(255, 255, 255);
    background-color: #202020;
    cursor: pointer;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .main {
    transition: margin-left .5s;
    padding: 16px;
    color: black;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  @media screen and (max-height: 650px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
#addButton{
    width: 100px;
    height: 20px;
    background-color: white;
    color: black;
}
.images {
  display: flex;
  flex-wrap: wrap;
}
.delBut {
  border-radius:12px;
  border: 2px solid red;
  background: Red;
  color:white;
  position: absolute;
  top: 30%;
  left: 5%;
  
}

.likeBut {
  border-radius:12px;
  border: 2px solid red;
  background: Red;
  color:white;
  position: absolute;
  top: 30%;
  left: 5%;
  
}

#pwaAddButton {
  display: none;
}